@import url('../../index.css');

.spot-details {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 0 1rem;
}

.spot-details-title {
	font-size: var(--fs-medium);
	font-weight: bold;
}

.spot-details-info {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
}

.spot-owner {
	font-weight: bold;
	font-size: 19px;
}

.book-spot-div {
	display: flex;
	width: 25dvw;
	flex-direction: column;
	background-color: var(--lightSpaceAccent-clr);
	border: solid 2px var(--deepSpaceAccent-clr);
	border-radius: 14px;
	gap: 1rem;
	padding: 1rem 4rem;
}

.price-review-title {
	display: flex;
	justify-content: space-between;
}

.book-price {
	font-weight: bold;
}

.book-btn {
	padding: 0.5rem 4rem;
	background-color: var(--deepSpaceAccent-clr);
	color: var(--white-clr);
	box-shadow: 4px 2px 10px var(--lightSpaceAccent-clr);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	border-radius: 14px;
}

.book-btn:hover {
	color: var(--deepSpaceAccent-clr);
	background-color: var(--white-clr);
	box-shadow: 2px 2px 10px var(--deepSpaceAccent-clr),
		-2px -2px 10px var(--deepSpaceAccent-clr);
	background-color: var(--white-clr);
}

.line-break {
	border: solid 2px var(--deepSpaceAccent-clr);
	width: 100%;
}

/* REVIEW CSS */

.review-content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.review-title {
	font-size: var(--fs-medium);
}
