@import url('../../index.css');

.spots-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1.5rem;
}

.spot-div-structure {
	width: 300px;
	cursor: pointer;
}

.spot-town-star {
	display: flex;
	justify-content: space-between;
}

.spot-rating {
	display: flex;
	gap: 0.5rem;
}

.spot-image {
	width: 100%;
	border-radius: 14px;
	transition: all 0.3s ease-in-out;
}

.spot-name {
	font-weight: bold;
}

.tooltip {
	position: absolute;
	bottom: 100%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	border-radius: 5px;
	z-index: 100;
	/* visibility: hidden; */
}
