@import url('../../index.css');
.spots-wrapper {
	display: grid;
	grid-template-columns: repeat(4, minmax(200px, 1fr));
	grid-template-rows: auto;
	box-sizing: border-box;
	justify-items: center;
	gap: 1.5rem;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem 4rem;
	/* display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem; */
}

.spot-div-structure {
	max-width: 300px;
	box-sizing: border-box;
	position: relative;
	/* width: 300px; */
	cursor: pointer;
}

.spot-town-star {
	display: flex;
	justify-content: space-between;
}

.spot-city-state {
	font-weight: 300;
}

.spot-rating {
	display: flex;
	gap: 0.5rem;
}

.spot-image {
	width: 100%;
	border-radius: 14px;
	transition: all 0.3s ease-in-out;
}

.spot-price {
	font-weight: 500;
}

.spot-name {
	font-weight: bold;
}

#tooltip {
	position: absolute;
	font-family: var(--ff-headers);
	color: var(--white-clr);
	z-index: 100;
	top: 10px;
	left: 10px;
	transition: all 0.3s ease-in-out;
}
