@import url('../../index.css');

.spots-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	padding: 0 1rem 0 1.2rem;
	gap: 1.5rem;
}

.spot-div-structure {
	position: relative;
	width: 300px;
	cursor: pointer;
}

.spot-town-star {
	display: flex;
	justify-content: space-between;
}

.spot-city-state {
	font-weight: 300;
}

.spot-rating {
	display: flex;
	gap: 0.5rem;
}

.spot-image {
	width: 100%;
	border-radius: 14px;
	transition: all 0.3s ease-in-out;
}

.spot-price {
	font-weight: 500;
}

.spot-name {
	font-weight: bold;
}

#tooltip {
	position: absolute;
	font-family: var(--ff-headers);
	color: var(--white-clr);
	z-index: 100;
	top: 10px;
	left: 10px;
	transition: all 0.3s ease-in-out;
}
