@import url('../../index.css');

.create-spot-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.create-spot-form {
	display: flex;
	flex-direction: column;
	max-width: 50dvw;
	gap: 2rem;
	border: solid 2px var(--deepSpaceAccent-clr);
	background-color: var(--lightSpaceAccent-clr);
	border-radius: 14px;
	padding: 1rem 2rem;
}

.create-spot-heading {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.create-spot-form input {
	padding: 0.3rem 0.4rem;
	border-radius: 14px;
	width: 100%;
}

.form-div-structure {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.form-headers {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.form-city-state {
	display: flex;
	gap: 1rem;
}

.city-div {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 60%;
}

.state-div {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 30%;
}

.city-input {
	width: 70%;
}

.line-break {
	border: solid 2px var(--deepSpaceAccent-clr);
	width: 100%;
}

textarea {
	border: solid 2px var(--deepSpaceAccent-clr);
	min-width: 50dvw;
	max-width: 50dvw;
	min-height: 100px;
	max-height: 100px;
	padding: 0.3rem 0.4rem;
	border-radius: 14px;
}

textarea:hover {
	box-shadow: 2px 2px 10px var(--deepSpaceAccent-clr),
		-2px -2px 10px var(--deepSpaceAccent-clr);
}

.create-spot-btn-form {
	padding: 0.5rem 4rem;
	background-color: var(--deepSpaceAccent-clr);
	color: var(--white-clr);
	box-shadow: 4px 2px 10px var(--lightSpaceAccent-clr);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	border-radius: 14px;
}

.create-spot-btn-form:hover {
	color: var(--deepSpaceAccent-clr);
	background-color: var(--white-clr);
	box-shadow: 2px 2px 10px var(--deepSpaceAccent-clr),
		-2px -2px 10px var(--deepSpaceAccent-clr);
	background-color: var(--white-clr);
}
