@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	/* FONT FAMILIES */
	--ff-primary: 'Roboto', sans-serif;
	--ff-headers: 'Orbitron', sans-serif;

	/* FONT SIZES */
	--fs-small: 16px;
	--fs-medium: 26px;
	--fs-large: 48px;
	--fs-x_large: 60px;

	/* COLORS */
	--white-clr: white;
	--black-clr: black;
	--lightSpaceAccent-clr: #a7e6ff;
	--deepSpaceAccent-clr: #050c9c;
}

h1 {
	margin: 0;
	font-family: var(--ff-headers);
	font-size: var(--fs-x_large);
	color: var(--deepSpaceAccent-clr);
}

h2 {
	margin: 0;
	font-family: var(--ff-headers);
	font-size: var(--fs-large);
	color: var(--deepSpaceAccent-clr);
}

h3 {
	margin: 0;
	font-family: var(--ff-headers);
	font-size: var(--fs-medium);
	color: var(--deepSpaceAccent-clr);
}

p {
	margin: 0;
	font-family: var(--ff-primary);
	font-size: var(--fs-small);
	color: var(--deepSpaceAccent-clr);
}
