@import url('../../index.css');

.navigation-ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
}

.navigation-logo {
	color: var(--deepSpaceAccent-clr);
	font-family: var(--ff-headers);
	font-size: var(--fs-medium);
	text-decoration: none;
}
