@import url('../../index.css');

.profile-dropdown {
	border: 4px solid var(--deepSpaceAccent-clr);
	border-radius: 12px;
	list-style: none;
	position: absolute;
	right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: 1rem;
	padding: 1rem 2rem;
	z-index: 1000;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.profile-dropdown:hover {
	background-color: var(--lightSpaceAccent-clr);
	color: var(--white-clr);
}

.profile-dropdown.hidden {
	display: none;
}
