@import url('../../index.css');

.login-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
}

.login-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
}

label {
	font-family: var(--ff-headers);
	display: flex;
	gap: 2rem;
}

input {
	border-color: var(--deepSpaceAccent-clr);
	color: var(--deepSpaceAccent-clr);
	transition: all 0.2s;
}

input:hover {
	box-shadow: 2px 2px 10px var(--deepSpaceAccent-clr),
		-2px -2px 10px var(--deepSpaceAccent-clr);
}

.login-btn {
	padding: 0.5rem 1rem;
	border: solid 2px var(--deepSpaceAccent-clr);
	border-radius: 14px;
	background-color: var(--deepSpaceAccent-clr);
	color: var(--white-clr);
	font-family: var(--ff-headers);
	cursor: pointer;
	transition: all 0.2s;
}

.login-btn:hover {
	background-color: var(--white-clr);
	color: var(--deepSpaceAccent-clr);
	box-shadow: 2px 2px 10px var(--deepSpaceAccent-clr),
		-2px -2px 10px var(--deepSpaceAccent-clr);
}

.login-btn:disabled {
	background-color: #cccccc; /* Light gray background */
	color: #666666; /* Dark gray text */
	border: solid 2px #cccccc; /* Match border to background */
	cursor: not-allowed;
	box-shadow: none;
}
